{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}


{% block pageTitle %}
    Page d'administration des aliments
{% endblock %}


{% block body %}

    <div class="container-fluid">
        <div class="row d-flex justify-content-center">

            {# Alert messages #}
            <div class="col-10 col-md-8 col-lg-6 d-flex justify-content-center">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>

            <div class="col-12">
                {# Add button #}
                <div class="text-center my-4">
                    <a href="{{ path('app_create_ingredient') }}" class="btn btn-info">Ajouter</a>
                </div>

                {# Table #}
                <div class="row">
                    <div class="col-12 d-flex justify-content-center flex-wrap">
                        <table class="table table-hover border">
                            <thead>
                                <tr class="table-danger">
                                    <th scope="col" class="text-center">Image</th>
                                    <th scope="col" class="text-center">Aliment</th>
                                    <th scope="col" class="text-center">Prix</th>
                                    <th scope="col" class="text-center">Calories</th>
                                    <th scope="col" class="text-center">Protéines</th>
                                    <th scope="col" class="text-center">Glucides</th>
                                    <th scope="col" class="text-center">Lipides</th>
                                    <th scope="col" class="text-center">Action</th>
                                </tr>
                            </thead>
                            {% for oneFood in food %}
                            <tbody>
                                <tr class="table">
                                    <td class="text-center"><img src="{{ asset('images/food/' ~ oneFood.image) }}" alt="{{ oneFood.name }}" style="width: 100px;height: 80px"></td>
                                    <td class="text-center">{{ oneFood.name|capitalize }}</td>
                                    <td class="text-center">{{ oneFood.price }}0 €</td>
                                    <td class="text-center">{{ oneFood.calorie }}</td>
                                    <td class="text-center">{{ oneFood.protein }}</td>
                                    <td class="text-center">{{ oneFood.carbohydrate }}</td>
                                    <td class="text-center">{{ oneFood.lipid }}</td>
                                    <td class="d-flex justify-content-center">
                                        {# Update food #}
                                        <a class="btn btn-warning mr-2" href="{{ path('app_update_ingredient', {'id': oneFood.id}) }}">Modifier</a>

                                        {# Delete food #}
                                        <form method="POST" action="{{ path('app_delete', {'id': oneFood.id}) }}" onsubmit="return confirm('Confirmer la suppression de l\'aliment')" >
                                            <input type="hidden" name="_method" value="DEL">
                                            <input type="hidden" name="_token" value="{{ csrf_token("REM" ~ oneFood.id) }}">
                                            <input type="submit" class="btn btn-danger" value="Supprimer">
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}
