{% extends 'base.html.twig' %}

{% block title %}Modification d'un aliment{% endblock %}


{% block pageTitle %}
    {% if isUpdating %}
    Modification de l'aliment {{ food.name }}
    {% else %}
        Ajout d'un aliment
    {% endif %}
{% endblock %}


{% block body %}

<div class="container-fluid">
    <div class="row d-flex justify-content-center">

        {# form #}
        <div class="col-10 col-md-8 col-lg-6 border p-4 rounded">
            {{ form_start(form) }}

                <img class="rounded" src="{{ asset('images/' ~ food.image) }}" alt="{{ food.name }}" style="width: 100px;">
                <div>{{ form_row(form.image, {'label': 'Image :', 'attr': {'class':'text-secondary'}}) }}</div>

                <div>{{ form_row(form.name, {'label': 'Nom :', 'attr': {'class':'text-secondary'}}) }}</div>
                <div>{{ form_row(form.price, {'label': 'Prix :', 'attr': {'class':'text-secondary'}}) }}</div>
                <div>{{ form_row(form.calorie, {'label': 'Calories :', 'attr': {'class':'text-secondary'}}) }}</div>
                <div>{{ form_row(form.protein, {'label': 'Protéines :', 'attr': {'class':'text-secondary'}}) }}</div>
                <div>{{ form_row(form.carbohydrate, {'label': 'Glucides :', 'attr': {'class':'text-secondary'}}) }}</div>
                <div>{{ form_row(form.lipid, {'label': 'Lipides :', 'attr': {'class':'text-secondary'}}) }}</div>

                {{ form_widget(form) }}

                <input type="submit" class="btn btn-warning" value="Enregistrer">

            {{ form_end(form) }}
        </div>
    </div>
</div>


{% endblock %}